* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100vh;
  background-color: hsl(235, 18%, 26%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 2rem;
  margin: auto;
  width: 650px;
  border-radius: 5%;
  height: fit-content;
}

.mobile-image {
  display: none;
}

.left-section {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left-section h1 {
  color: hsl(234, 29%, 20%);
  font-size: 3rem;
  padding-top: 3rem;
}

ul {
  list-style-type: none;
}

.check-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  padding: 0.2rem 0;
}

.material-icons {
  color: hsl(4, 100%, 67%);
  font-weight: 500;
}

.details {
  color: hsl(236, 15%, 37%);
  font-size: 0.8rem;
  font-weight: 600;
  display: inline;
}

.email-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0.7rem;
  color: hsl(234, 29%, 20%);
  font-weight: 600;
  margin-top: 1.5rem;
}

#email-error {
  display: none;
  color: hsl(4, 100%, 67%);
  font-weight: 800;
}

.right-section {
  width: 50%;
}

.right-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

input {
  padding: 0.8rem;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 5px;
}

input:active {
  cursor: default;
}

button {
  color: white;
  padding: 0.9rem;
  background-color: hsl(234, 29%, 20%);
  border-radius: 8px;
  border: none;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(to right, rgb(247, 67, 157), hsl(4, 98%, 60%));
}

.page-wrapper {
  animation: zoomIn 1s ease-out;
}

@keyframes zoomIn {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (min-width: 376px) and (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    background-color: hsl(235, 18%, 26%);
  }

  .container {
    flex-direction: column;
    margin-inline: 5rem;
    padding: 1rem;
    width: 80%;
  }

  .mobile-image {
    width: auto;
    margin: 0;
    padding: 0;
    display: block;
  }

  .mobile-image img {
    width: 100%;
    display: inline-block;
    border-radius: 5%;
  }

  .left-section {
    width: auto;
    height: auto;
    margin-inline: 1rem;
    padding: 0 1rem;
    margin: 0 1rem 1rem 1rem;
  }

  .left-section h1 {
    padding-top: 1rem;
  }

  .right-section {
    display: none;
  }

  .right-section img {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  body {
    /* display: flex; */
    flex-direction: column;
    background-color: white;
    justify-content: initial;
  }

  .container {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    border-radius: 0;
  }

  .mobile-image {
    width: auto;
    margin: 0;
    padding: 0;
    display: block;
  }

  .mobile-image img {
    width: 100%;
    display: inline-block;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }

  .left-section {
    width: auto;
    height: auto;
    margin-inline: 1rem;
    padding: 0 1rem;
    margin: 0 1rem 1rem 1rem;
  }

  .left-section h1 {
    padding-top: 1rem;
  }

  .right-section {
    display: none;
  }

  .right-section img {
    display: none;
  }
}
